.sidebar {
    width: 250px;
    height: 100vh;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    border-right:1px solid #383737;
    ;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin-top:100px;
    text-decoration: none;
  }
  
  .sidebar ul li {
    margin: 50px 0;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    border-bottom: 1px solid #ddd;
    text-decoration: none;


  }
  .sidebar ul li a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from li */
  }
  
  .sidebar ul li:hover {
    color: #007BFF; /* Change color on hover */
  }
.logo {
    display: block;
    margin: 0 auto;
    max-width: 100px;
    border-radius: 10px;
  }